/* cabeçalho */
.header{
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
}

.breadcrumb{
  margin: 0;
  color: rgb(185, 185, 185);
  font-size: 14px;
  font-weight: 400;
}

.title{
  margin: 8px 0 0;
  font-size: 28px;
  font-weight: 700;
}

.headerActions{
  margin-left: auto;
}
.searchInput{
  width: 100%;
  max-width: 320px;

  padding: 8px 4px;
  font-size: 14px;

  border: none;
  border-bottom: 2px solid #40a8ed;

  outline: none;
}

.searchInput:focus{
  border-bottom: 2px solid #000000;
}